/* Encabezado */

.miNavColor {
    background-image: url(img/marmol-negro.jpg);
    background-size: cover;
}
.logoNav{
    width: 160px;
}
.navFuente {
    font-size: 0.9rem;
}

/* Body */

body {
    background-image: url(img/19021593.jpg);
    font-family: 'Nunito', sans-serif;; 

}
h1 {
    color: #000000;
    font-family: 'Nunito', sans-serif,cursive;
    font-size: 2rem;
    text-align: center;
    margin: 20px 10px;
    padding: 20px 10px; 
}
.subtitulos-tus-datos {
    color: #000000;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif, cursive; 
}
.parrafos-3 {
    color: #000000;
    font-size: 1rem; 
    padding: 10px;
}
.boton {
    background: linear-gradient(90deg, #6e6e6e 0%, #000000 31%, #1a1a1a 100%);
    color: #f5f6fa;
    margin: 30px; 
}
.estiloBoton {
    display: flex;
    justify-content: center; 
}
#refTurno {
    display: none;
}
.referencia {
    text-align: center;
    padding: 8px;
    background-color: #c3d8f5;
    color: #000000;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1rem;
}
.empresas {
    border: solid 0.5px #c4c2c2;
    border-radius: 5px; 
    width: 100px
}
.areas {
    border: solid 0.5px #c4c2c2;
    border-radius: 5px; 
    width: 100px
}

.h4{
    align-items: flex-end;
   
}
.usuario {
    display: flex;
    flex-direction: row;
   
}
.iconoUsuario {
    height: 30px;
}
.verificacionDatos {
    display: flex;
    justify-content: center;
}
.verificacionMensaje {
    background-color: rgba(123, 130, 131, 0.651);
    margin: 20px;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    display: none;
}
.impresionFinal {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    align-items: center;
    color: #000000;
    text-align: center;
}
.parrafoFinal {
    margin: 80px;
    padding: 40px;
    font-weight: bold;
}

/* Footer*/

.footer_logo {
    width: 100px;
    margin-left: 30px;
    
}
.pie {
    background-image: url(img/marmol-negro.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.pie-2 {
    color: #f5f6fa;
    font-size: 0.9rem;
    font-weight: lighter;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;
    text-decoration: none; 
}
.pie-2 ul {
    list-style: none; 
}
.email {
    width: 20px; 
}
.tele {
    width: 20px; 
}
.mis-redes {
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    margin-top: 80px; 
}
.redes {
    width: 30px;
    margin: 20px; 
}
.pie-3 {
    background: linear-gradient(90deg, #949494 0%, #000000 31%, #1a1a1a 100%);
    background-size: cover;
    color: #f5f6fa;
    font-size: 0.8rem;
    font-weight: lighter;
    text-align: center;
    padding: 10px; 
}
.footer_lista {
    list-style: none;
    padding-top: 50px; 
}
.footer_lista a:hover {
      color: #8b8b8b; 
}
.footer_lista_texto {
    text-decoration: none;
    font-size: 0.8rem;
    color: #f5f6fa; 
}